*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* FONDO TIPO MAR */
body{
    background: linear-gradient(to bottom, #00c6ff, #0072ff, #f5d6a0);
    text-align:center;
    color:white;
}

/* TITULO */
h1{
    padding:25px;
    font-size:28px;
    letter-spacing:2px;
}

/* CONTENEDOR */
.contenedor{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:20px;
}

/* TARJETAS CON IMAGEN */
.card{
    width:180px;
    height:180px;
    border-radius:20px;
    background-size:cover;
    background-position:center;
    position:relative;
    cursor:pointer;
    overflow:hidden;
    transition:0.3s;
}

/* EFECTO HOVER */
.card:hover{
    transform:scale(1.08);
}

/* CAPA OSCURA */
.card::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
}

/* TEXTO ENCIMA */
.overlay{
    position:absolute;
    bottom:10px;
    width:100%;
    text-align:center;
    font-weight:bold;
    font-size:16px;
}

/* MODAL */
.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    justify-content:center;
    align-items:center;
}

/* CONTENIDO */
.contenido{
    background:white;
    color:black;
    padding:20px;
    border-radius:15px;
    width:80%;
    max-height:90%;
    overflow:auto;
}

/* IMÁGENES EN MODAL */
.contenido img{
    width:100%;
    border-radius:10px;
    margin:10px 0;
}

/* CERRAR */
span{
    float:right;
    cursor:pointer;
    font-size:20px;
}
